<div ng-controller="notice_insert_Ctr">



    <div class="c-wrap">
        <div class="container sub-contents">
            <textarea class="form-control" rows="17" placeholder="알림 사항을 작성해 주세요 " ng-model="notice_commend"></textarea>
            <div class="col-xs-6" style="margin-top:12px; padding-left:0;">
                <a href="/notice"><button class="btn btn-cancel btn-block" style="padding:6px 12px; background:#767676; margin-right:7px;"><i class="fa fa-reply"> </i> 뒤로 </button></a>
            </div>
            <div class="col-xs-6" style="margin-top:12px; padding-right:0;">
                <button class="btn btn-blue btn-block" ng-click="notice_insert();">글쓰기</button>
            </div>
        </div>
    </div>





</div>